@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="bonusInfoForm">

            <input type="hidden" id="id" value="${bonus.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="personal_id" name="人员" value="${bonus.personal_id}" underline="true"/>
                    <#input id="OrgName" name="机构名称" value="${bonus.OrgName}" underline="true"/>
                    <#input id="DeptName" name="部门名称" value="${bonus.DeptName}" underline="true"/>
                    <#input id="achievements_bonus" name="绩效奖金" value="${bonus.achievements_bounus}" underline="true"/>
                    <#input id="year_bonus" name="年度奖金" value="${bonus.year_bounus}" underline="true"/>
                    <#input id="quarter_bonus" name="季度奖金" value="${bonus.quarter_bounus}" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="explore_bonus" name="开拓奖金" value="${bonus.explore_bounus}" underline="true"/>
                    <#input id="attendance_bonus" name="全勤奖金" value="${bonus.attendance_bounus}" underline="true"/>
                    <#input id="special_bonus" name="特别年薪奖" value="${bonus.special_bounus}" underline="true"/>
                    <#input id="bo_date" name="日期" value="${bonus.bo_date}" underline="true"/>
                    <#input id="PostName" name="职位" value="${bonus.PostName}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BonusInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BonusInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/bonus/bonus_info.js"></script>
@}
