@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="salaryInfoForm">

            <input type="hidden" id="id" value="${salary.id}">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="personalId" name="人员编号" value="${salary.personalId}" underline="true"/>
                    <#input id="baseSalary" name="基本工资" value="${salary.baseSalary}" underline="true"/>
                    <#input id="postSalary" name="岗位工资" value="${salary.postSalary}" underline="true"/>
                    <#input id="gradeSalary" name="薪级工资" value="${salary.gradeSalary}" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="yearsSalary" name="工龄工资" value="${salary.yearsSalary}" underline="true"/>
                    <#input id="skillSalary" name="技能工资" value="${salary.skillSalary}" underline="true"/>
                    <#input id="archivesSalary" name="档案工资" value="${salary.archivesSalary}" underline="true"/>
                    <#input id="overtimeSalary" name="加班工资" value="${salary.overtimeSalary}" underline="true"/>
                    <#input id="salDate" name="年月" value="${salary.salDate}" underline="true" placeholder="格式：201203"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SalaryInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SalaryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/salary/salary_info.js"></script>
@}
