@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="welfareInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="personalId" name="员工编号" underline="true"/>
                    <#input id="OrgName" name="机构名称" underline="true"/>
                    <#input id="DeptName" name="部门名称" underline="true"/>
                    <#input id="postAllowance" name="职务补贴" underline="true"/>
                    <#input id="trafficAllowance" name="交通补贴" underline="true"/>
                    <#input id="mealAllowance" name="伙食补贴" underline="true"/>
                    <#input id="communicationFee" name="通信费" underline="true"/>
                    <#input id="onlyChildFee" name="独生子女费" underline="true"/>
                    <#input id="sunstrokeFee" name="防暑降温费" underline="true"/>
                    <#input id="proWomenFee" name="劳保妇女费" underline="true"/>
                    <#input id="dutyAllowance" name="值班补贴" underline="true"/>
                    <#input id="specialPostAllowance" name="特殊岗位津贴" underline="true"/>
                    <#input id="hydropowerAllowance" name="水电补贴" underline="true"/>
                    <#input id="stationeryExpenses" name="文具费" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="housingAllowance" name="住房补贴" underline="true"/>
                    <#input id="outskirtsAllowannce" name="远郊补贴" underline="true"/>
                    <#input id="secrecyFee" name="保密费" underline="true"/>
                    <#input id="expatriateAllowance" name="外派津贴" underline="true"/>
                    <#input id="housingFund" name="住房公积金" underline="true"/>
                    <#input id="endowmentInsurance" name="养老保险" underline="true"/>
                    <#input id="medicalInsurance" name="医疗保险" underline="true"/>
                    <#input id="employmentInjuryInsurance" name="工伤保险" underline="true"/>
                    <#input id="maternityInsurance" name="生育保险" underline="true"/>
                    <#input id="unemploymentInsurance" name="失业保险" underline="true"/>
                    <#input id="wfDate" name="年/月" underline="true"/>
                    <#input id="PostName" name="岗位名称" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WelfareInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WelfareInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/welfare/welfare_info.js"></script>
@}
