@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="welfareInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="personal_id" name="员工编号" underline="true"/>
                    <#input id="OrgName" name="机构名称" underline="true"/>
                    <#input id="DeptName" name="部门名称" underline="true"/>
                    <#input id="post_allowance" name="职务补贴" underline="true"/>
                    <#input id="traffic_allowance" name="交通补贴" underline="true"/>
                    <#input id="meal_allowance" name="伙食补贴" underline="true"/>
                    <#input id="communication_fee" name="通信费" underline="true"/>
                    <#input id="only_child_fee" name="独生子女费" underline="true"/>
                    <#input id="sunstroke_fee" name="防暑降温费" underline="true"/>
                    <#input id="pro_women_fee" name="劳保妇女费" underline="true"/>
                    <#input id="duty_allowance" name="值班补贴" underline="true"/>
                    <#input id="special_post_allowance" name="特殊岗位津贴" underline="true"/>
                    <#input id="hydropower_allowance" name="水电补贴" underline="true"/>
                    <#input id="stationery_expenses" name="文具费" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="housing_allowance" name="住房补贴" underline="true"/>
                    <#input id="outskirts_allowannce" name="远郊补贴" underline="true"/>
                    <#input id="secrecy_fee" name="保密费" underline="true"/>
                    <#input id="expatriate_allowance" name="外派津贴" underline="true"/>
                    <#input id="housing_fund" name="住房公积金" underline="true"/>
                    <#input id="endowment_insurance" name="养老保险" underline="true"/>
                    <#input id="medical_insurance" name="医疗保险" underline="true"/>
                    <#input id="employment_injury_insurance" name="工伤保险" underline="true"/>
                    <#input id="maternity_insurance" name="生育保险" underline="true"/>
                    <#input id="unemployment_insurance" name="失业保险" underline="true"/>
                    <#input id="wf_date" name="年/月" underline="true"/>
                    <#input id="PostName" name="岗位名称" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WelfareInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WelfareInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/welfare/welfare_info.js"></script>
@}
