<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Huoking - 平台介绍</title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="${ctxPath}/static/Salaryweb/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/static/Salaryweb/css/web-css/about.css" type="text/css" />
   

	<!-- JS
  ================================================== -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/jquery.min.js"></script>
	<!-- HTML5 Shiv events -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/modernizr.custom.11889.js"></script>
    <!-- HTML5 Shiv events (end)-->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/nav-resp.js"></script>

	<!-- Favicons
  ================================================== -->
	<link rel="shortcut icon" href="${ctxPath}/static/Salaryweb/images/favicon.ico" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

	<!-- Primary Page Layout
================================================== -->

<div id="wrap">
	<header id="header" class="container">
		<div class="top-link">
			<a href="${ctxPath}/login">登录/注册</a>
		</div>
		<div class="four columns">
			<a href="#"><img src="${ctxPath}/static/Salaryweb/images/logo.png" /></a>
		</div>
		<nav id="nav-wrap" class="twelve columns">
			<ul id="nav">
				<li><a href="${ctxPath}/salaryIndex">首页</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexAbout">平台介绍</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexServices">岗位薪酬</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexPortfolio3col">行业薪酬</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexBlog">薪酬查询</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexBlogSingle">专项报告</a></li>
			</ul>
		</nav><!-- /nav-wrap -->
	</header><!-- end-header -->
	<section id="full-width">
		<img src="/static/Salaryweb/images/intrudece/wechat.png" class="full-width" />
		<div class="new-page-subtitle">
			<p class="new-page-subtitle01">关于我们</p>
			<p class="new-page-subtitle02">About us</p>
			<p class="new-page-subtitle03">激情/真诚/信任</p>
		</div>
	</section><!-- end-full-width -->
	

	<section class="container page-content" style="text-align: center;">
		<div class="column" style="margin-bottom: 107px;">
			<p style="font-size: 49px;color: #494949; line-height: 49px;">WE CAN MADE WITH WISDOM,ONLY!</p>
			<br />
			<p style="font-size: 36px;color: #464646;line-height: 36px;">聚焦战略变革咨询与管理数字技术研发</p>
			<br />
			<p style="font-size: 20px;color: #464646; line-height: 28px;">华景是做战略变革的。变革也就是转型升级，为打算从现在地方走向目标地的企业与行政事业单位设计桥梁、规划道路的。
			自上而下的转型升级是变革。在“变革”前加个“战略”这个定语，现在的企业和政府事业单位没有单一的，都是牵一发动全身的变革
			，时髦词汇就是顶层设计。</p>
		</div>
		<div class="column">
			<p style="font-size: 72px;color: #3f3f3f;line-height: 72px;">我们的团队<small style="font-size: 48px;color: #3f3f3f;"> / Our team</small></p>
			<br />
			<p style="    font-size: 36px;color: #464646; margin-top: 20px;line-height: 36px;">开拓创新和精益合作的年轻团队</p>
			<br>
			<table>
				<tr>
					<td>
						<img src="/static/Salaryweb/images/intrudece/img1.png"/>
					</td>
					<td>
						<img src="/static/Salaryweb/images/intrudece/img1.png"/>
					</td>
					<td>
						<img src="/static/Salaryweb/images/intrudece/img1.png"/>
					</td>
				</tr>
				<tr>
					<td>
						<img src="/static/Salaryweb/images/intrudece/img1.png"/>
					</td>
					<td>
						<img src="/static/Salaryweb/images/intrudece/img1.png"/>
					</td>
					<td>
						<img src="/static/Salaryweb/images/intrudece/img1.png"/>
					</td>
				</tr>
			</table>
		</div>
		<div class="white-space"></div>
	</section><!-- container -->


	<footer id="footer" align="center">
		<div class="container footer-in">
			<!--第一行-->
			<!--分享到-->
			<div class="one-third column" align="left">
				<h4>分享到</h4>
				<br />
				<div style="display: inline-block">
					<img src="/static/Salaryweb/images/index/qq.png" align="left">
				</div>
				<div>
					<img src="/static/Salaryweb/images/index/wechat.png" align="left">
				</div>

				<br />
			</div>
			<!--联系我们-->
			<div class="one-third column" align="left">
				<h4>联系我们</h4>
				<br />

				<p><img src="${ctxPath}/static/Salaryweb/images/social_phone.png" align="left" />&nbsp;
					028-87099345<br />
				</p>
				<p>
					<img src="${ctxPath}/static/Salaryweb/images/social_mail.png" align="left" />&nbsp;
					youxianghao\@huoking.com<br />
				</p>
			</div>
			<!--意见反馈-->
			<div class="one-third column" align="left">
				<h4>意见反馈</h4>
				<br />
				<ul style="margin-left: 20px;">
					<li type="square">意见建议</li>
					<li type="square">在线客服</li>
					<li type="square">关于我们</li>
				</ul>
			</div>
			<!--第二行-->
			<div c style="text-align: center">
				<div><img src="${ctxPath}/static/Salaryweb/images/logo.png"/></div>
				<div><p>Copyright© 2015 华景咨询有限公司</p></div>
			</div>

		</div><!-- end-footer-in -->
	</footer><!-- end-footer -->

</div><!-- end-wrap -->
<!-- End Document
================================================== -->
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/latest-twitt.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/vincie-send.js"></script>

</body>
</html>