<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Blog - Vincie.web</title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="${ctxPath}/static/Salaryweb/css/style.css" type="text/css" />
   

	<!-- JS
  ================================================== -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/jquery.min.js"></script>
	<!-- HTML5 Shiv events -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/modernizr.custom.11889.js"></script>
    <!-- HTML5 Shiv events (end)-->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/nav-resp.js"></script>

	<!-- Favicons
  ================================================== -->
	<link rel="shortcut icon" href="${ctxPath}/static/Salaryweb/images/favicon.ico" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

	<!-- Primary Page Layout
================================================== -->

<div id="wrap">
<header id="header" class="container">
<div class="top-link"><a href="${ctxPath}/login">登录/注册</a></div>
<div class="four columns"><a href="#"><img src="${ctxPath}/static/Salaryweb/images/logo.png" /></a></div>
<nav id="nav-wrap" class="twelve columns">
					<ul id="nav">
						<li><a href="${ctxPath}/salaryIndex">首页</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexAbout">平台介绍</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexServices">岗位薪酬</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexPortfolio3col">行业薪酬</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexBlog">薪酬查询</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexBlogSingle">专项报告</a></li>
			<!--	<li><a href="index.html">首页</a></li>
				<li><a href="about.html">平台介绍</a></li>
				<li><a href="services.html">岗位薪酬
					</a>
					&lt;!&ndash;
					<ul>
						<li><a href="services.html">善德讲堂</a></li>
						<li><a href="pricing.html">爱心公益</a></li>
						<li><a href="blog-single.html">锺标局</a></li>
						<li><a href="portfolio-item.html">商业讲堂</a></li>
						<li><a href="contact.html">标德优品</a></li>
					</ul>
				</li>
				&ndash;&gt;
				<li><a href="portfolio3col.html">行业薪酬</a>
					&lt;!&ndash;
				    <ul>
						<li><a href="portfolio2col.html">善德讲堂</a></li>
						<li><a href="portfolio3col.html">爱心公益</a></li>
						<li><a href="portfolio4col.html">锺标局</a></li>
						<li><a href="portfolio-item.html">商业讲堂</a></li>
						<li><a href="portfolio-item.html">标德优品</a></li>
					</ul>
					&ndash;&gt;
				</li>
				<li><a href="blog.html">薪酬查询</a></li>
				<li><a href="blog-single.html">专项报告</a></li>-->
			</ul>
	</nav>
		<!-- /nav-wrap -->
</header><!-- end-header -->
<section id="full-width">
<img src="${ctxPath}/static/Salaryweb/images/hero-pages2.jpg" class="full-width" />
<div class="page-subtitle"> 
<h3>薪酬查询</h3>
<p>根据数据应用的需要，
	以不同的查询条件进行
	数据查询;以图表的形式展现</p>
</div>

</section><!-- end-full-width -->
	
<section class="container page-content">

<section id="main-content">

<article class="eleven columns blog-post">

<!--
<h6 class="blog-date">15 April 2016 </h6>
-->
<!--
<h3><a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur</a></h3>
<h6 class="blog-author">John Smith </h6>
<br />
-->
<p><img src="${ctxPath}/static/Salaryweb/images/blog-post-pic1.jpg" /><br />
1.查询条件：  <br />
2.数据说明：.</p>
<!--
<a href="blog-single.html" class="readmore">read more</a>
-->
</article>



</section><!-- end-main-content -->

<section id="sidebar">
<h4 class="subtitle">查询目标</h4>
<div class="listbox1">
<ul>
<li>区域 <input type="text" name="fname1" maxlength="30" /> </li>
<li>行业<input type="text" name="fname2" maxlength="30" /> </li>
<li>企业性质<input type="text" name="fname3" maxlength="30" /> </li>
<li>部门 <input type="text" name="fname4" maxlength="30" /> </li>
<li>岗位<input type="text" name="fname5" maxlength="30" /> </li>
<li>职级<input type="text" name="fname6" maxlength="30" /> </li>
<li>行业工龄<input type="text" name="fname7" maxlength="30" /> </li>
<li>专业 <input type="text" name="fname8" maxlength="30" /> </li>


</ul>

</div><!-- end-listbox1 -->

<br class="clear" />

<h4 class="subtitle">数据选项</h4>
<div class="listbox1">
<ul>
<li>固定收入 <input name="chk1" type="checkbox" value="" /> </li>
<li>绩效收入<input name="chk3" type="checkbox" value="" /> </li>
<li>基本收入<input name="chk2" type="checkbox" value="" /> </li>
<li>中长期收益<input name="chk4" type="checkbox" value="" /> </li>
<li>福利<input name="chk5" type="checkbox" value="" /> </li>
</ul>
</div>
<br class="clear" />

<h4 class="subtitle">查询历史</h4>
<div class="listbox1">
<ul>
<li><a href="#">May 2016 (2)</a></li>
<li><a href="#">April 2016 (3)</a></li>
<li><a href="#">March 2016 (5)</a></li>
<li><a href="#">February 2016 (1) </a></li>
</ul>
<a href="#" class="show-all">Show All</a>
</div><!-- end-listbox1 -->

<br class="clear" />
<h4 class="subtitle">最近热点</h4>
<div class="listbox1">
<ul>
<li><a href="#">Praesent vestibulum mole sti..e</a></li>
<li><a href="#">Lac enean nonummy hen tor.. </a></li>
<li><a href="#">Praesent vestibulum mole bem..</a></li>
<li><a href="#">Lorem ipsum dolor sit amres.. </a></li>
<li><a href="#">Praesent vestibulum mole..</a></li>
<li><a href="#">Lac enean nonummy hen dea..</a></li>
<li><a href="#">Praesent vestibulum mole voro..</a></li>
<li><a href="#">Lorem ipsum dolor sit gety... </a></li>
<li><a href="#">Praesent vestibulum mole stie..</a></li>
<li><a href="#">Lac enean nonummy hen.. </a></li>
<li><a href="#">Praesent vestibulum mole go..</a></li>
<li><a href="#">Lorem ipsum dolor sit amet.. </a></li>
</ul>
<a href="#" class="show-all">Show All</a>
</div><!-- end-listbox1 -->

<br class="clear" />


</section><!-- end-sidebar-->

<div class="white-space"></div>

</section><!-- container -->

	<footer id="footer" align="center">
<div class="container footer-in">
<div class="disclaimer four columns" align="left">
<h4>Disclaimer <img src="${ctxPath}/static/Salaryweb/images/footer-p1.png" /></h4>
<br />
<p>
Important: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at felis mi, at auctor mi. Donec vel nibh sem. Etiam ut lacus a dui accumsan accumsan. 
</p>
<br />
<div class="copyright-txt">&nbsp; © 2016. All Rights Reserved.<br />
  <a href="#" class="terms">Terms of Service</a> | <a href="#" class="terms">Privacy Policy</a></div>
  </div><!-- content220 -->
<div class="three columns navi2" align="left">
<h4>Navigation <img src="${ctxPath}/static/Salaryweb/images/footer-p3.png" /></h4>
<br />
<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Services</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Our Portfolio</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Blog</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Prices</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Contact Form</a></p>
</div><!-- end-navi2 -->

<div class="five columns" align="left">
<h4>Newsletter <img src="${ctxPath}/static/Salaryweb/images/footer-p2.png" /></h4>
<br />
<p>Subscribe to our newsletter to always be up to date! See more, learn more.</p>
<form action="" method="post" id="frmSubscribe" />
<input name="txtSubscribe" class="textbox1" type="text" placeholder="Email" />
<input name="btn-send" id="btnSubscribe" type="button" class="btn1" value="SEND" />
</form>
<div class="clear"></div>
<div class="social-icons">
<a href="#"><img src="${ctxPath}/static/Salaryweb/images/social_twitter.png" align="right" /></a>
<a href="#"><img src="${ctxPath}/static/Salaryweb/images/social_facebook.png" align="right" /></a>
<a href="#"><img src="${ctxPath}/static/Salaryweb/images/social_vimeo.png" align="right" /></a>
</div><!-- end-social-icons -->
</div><!-- end-follow2 -->

<div class="four columns" align="left">
<h4>Contact <img src="${ctxPath}/static/Salaryweb/images/footer-p4.png" /></h4>
<br />
<p><img src="${ctxPath}/static/Salaryweb/images/social_address.png" align="left" />&nbsp;<strong>Address:</strong>
<br />
No.28 - 63739 street lorem ipsum City, Country</p>

<p><img src="${ctxPath}/static/Salaryweb/images/social_phone.png" align="left" />&nbsp;<strong>Phone:</strong>
<br />
+ 1 (234) 567 8901<br />
</p>

<p><img src="${ctxPath}/static/Salaryweb/images/social_mail.png" align="left" />&nbsp;<strong>Email:</strong>
<br />
support yoursite.com<br />
</p>
</div><!-- end-contact2 -->
</div><!-- end-footer-in -->

</footer>
<!-- end-footer -->

</div><!-- end-wrap -->
<!-- End Document
================================================== -->
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/latest-twitt.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/vincie-send.js"></script>

</body>
</html>