<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>华景薪酬库</title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="${ctxPath}/static/Salaryweb/css/style.css" />
	<!--自定义样式-->
	<link rel="stylesheet" href="${ctxPath}/static/Salaryweb/css/web-css/index.css" />

	<!-- JS
  ================================================== -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/jquery.min.js"></script>
	<!-- HTML5 Shiv events -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/modernizr.custom.11889.js"></script>
    <!-- HTML5 Shiv events (end)-->
    <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/nav-resp.js"></script>

	<!-- Favicons
  ================================================== -->
	<link rel="shortcut icon" href="${ctxPath}/static/Salaryweb/images/favicon.ico" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

	<!-- Primary Page Layout
	================================================== -->

<div  id="wrap">
	<header id="header" class="container">
		<div class="top-link">
			<a href="${ctxPath}/login">登录/注册</a>
		</div>
		<div class="four columns">
			<a href="#"><img src="${ctxPath}/static/Salaryweb/images/logo.png" /></a>
		</div>
		<nav id="nav-wrap" class="twelve columns">
			<ul id="nav">
					<!--	 -->
				<li><a href="${ctxPath}/salaryIndex">首页</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexAbout">平台介绍</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexServices">岗位薪酬</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexPortfolio3col">行业薪酬</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexBlog">薪酬查询</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexBlogSingle">专项报告</a></li>
			</ul>
		</nav><!-- /nav-wrap -->
	</header><!-- end-header -->

	<!--图片轮播区-->
	<section id="full-width">
		<div class="theme-default">
			<div id="slider" class="nivoSlider">
				<img src="${ctxPath}/static/Salaryweb/images/index/banner.png" title="#htmlcaption0" />
				<!--<img src="${ctxPath}/static/Salaryweb/images/hero-pic-home1.jpg" title="#htmlcaption" />
				<img src="${ctxPath}/static/Salaryweb/images/hero-pic-home2.jpg" title="#htmlcaption2" />
				<img src="${ctxPath}/static/Salaryweb/images/hero-pic-home3.jpg" title="#htmlcaption3" />-->
			</div>
			<div id="htmlcaption0" class="nivo-html-caption">
				<h2>组织机构与岗位矩阵 </h2>
			</div>

		</div><!-- end-slider -->
		<div class="waves">
			<img class="waves-img" src="${ctxPath}/static/Salaryweb/images/index/bolang_img.png" />
		</div>

	</section><!-- end-full-width -->


	<!--内容区-->
	<section class="container home-content container-index">
		<!--第一行-->
		<div class="four columns">
			<div><img src="${ctxPath}/static/Salaryweb/images/index/mianfei_img.png"/></div>
			<h6>三次免费查询</h6>
			<p>
				未注册用户可以免费查询三次岗位月总收入
			</p>
		</div>
		<div class="four columns">
			<div><img src="${ctxPath}/static/Salaryweb/images/index/yongjiuchaxun_img.png"/></div>
			<h6>会员永久查询</h6>
			<p>
				注册会员用户可以永久免费查询岗位月总收入
			</p>
			</div>
		<div class="four columns">
			<div><img src="${ctxPath}/static/Salaryweb/images/index/sujuchaxun_img.png"/></div>
			<h6>数据查询</h6>
			<p>
				注册企业会员用户并提交公司薪酬信息，可以每年免费查询
			</p>
		</div>
		<div class="four columns">
			<div><img src="${ctxPath}/static/Salaryweb/images/index/more_img.png"/></div>
			<h6>获取更多</h6>
			<p>
				注册企业会员用户并付费客户，可以美男查询岗位月基本收入、月绩效收入、月总收入、年几本收入
			</p>
		</div>
		<br class="clear" />
		<!--第二行：使命与愿景-->
		<h4 class="subtitle r1dd">    </h4>
		<div class="two-thirds column">
			<h1>使命与愿景<small>/ Mission & Vision</small></h1>
				<h4>聚焦战略变革咨询与管理数字技术研发，成为企业与区域最贴心的协同交互创新智库。华景是做战略变革的。
				变革也就是转型升级，为打算从现在地方走向目标地的企业与行政事业单位设计桥梁、规划道路的。
				自上而下的转型升级是变革。在“变革”前加个“战略‘这个定语，现在的企业和政府事业单位没有单一的，都是牵一发动
				全身的变革，时髦词汇就是顶层设计</h4>
			<p>&nbsp;</p>
		</div>
		<div class="one-third column">
			<img src="${ctxPath}/static/Salaryweb/images/index/shimingyuyuanjing_img.png" />
			<br />
		</div>
	</section>
	<!--第三行:我们是谁-->
	<section class="home-content">
		<br class="clear" />

		<div class="whoweare">
			<img  class="self-introduct-img" src="${ctxPath}/static/Salaryweb/images/index/who we are.png" title="#self-introduction" />
			<div id="self-introduction" class="self-introduct">
				<h2 class="self-introduction-h2">我们是谁<small>/ Who We Are</small></h2>
				<p class="self-introduction-p">
					聚焦战略变革咨询与管理数字技术研究，成为企业与区域最贴心的协同交研发，
					互创新智库，聚焦战略变革咨询与管理数字技术研发，成为企业与区域最贴心的。
				</p>
			</div>
		</div>

		<!--第四行：华景咨询9大关键词：-->
		<div class="column">
			<div class="feature-9-item">
				<label class="feature-number">9</label>
				<div class="feature-title">
					<div class="feature-title-company">华景咨询</div>
					<div class="feature-title-font">大关键词</div>
				</div>
			</div>

			<div class="listbox1">
				<img  class="feature-img" src="${ctxPath}/static/Salaryweb/images/index/9da.png" />
				<ul  class="ul-9da">
					<li class="li-9da-odd-1 li-9da">全球智慧本地运营,5家全球100强合资合作，整合麦肯锡、BCG、IMS等全球商业智慧  </li>
					<li class="li-9da-even li-9da">深商基因教父，从实践到理论，从理论到实践 </li>
					<li class="li-9da-odd li-9da">中国管理科学院士汪应洛倾情打造 </li>
					<li class="li-9da-even li-9da">国务院国资委12年考验  </li>
					<li class="li-9da-odd li-9da">30余家上市公司战略合作</li>
					<li class="li-9da-even li-9da">4家上市公司董事10年决策阅历 </li>
					<li class="li-9da-odd li-9da">国务院三峡办、工信部、商务部反垄断局、科技部等中央或地方经验 </li>
					<li class="li-9da-even li-9da">全球公认商学院（AACSB：The Association to Advance Collegiate Schools of Business(美国国际管理教育联合
						会））教学资格、复旦大学管理学院、香港中文大学管理学院等10年讲授《中国制度与企业行为概论》 </li>
					<li class="li-9da-odd li-9da">国家开发银行等中小企业银行资信信贷评审专家 </li>
				</ul>
				<!--第五行：最新资讯-->
				<div class="last_news">
					<h1 class="last-news-title">最新咨询<small>/Last News</small></h1>
					<div class="last-news-content">
						<div class="four columns last-news-item">
							<img src="${ctxPath}/static/Salaryweb/images/index/new1.png"/>
							<p>资信信贷评估信信贷...</p>
						</div>
						<div class="four columns last-news-item">
							<img src="${ctxPath}/static/Salaryweb/images/index/new2.png"/>
							<p>资信信贷评估信信贷...</p>
						</div>
						<div class="four columns last-news-item">
							<img src="${ctxPath}/static/Salaryweb/images/index/new3.png"/>
							<p>资信信贷评估信信贷...</p>
						</div>
						<div class="four columns last-news-item">
							<img src="${ctxPath}/static/Salaryweb/images/index/new4.png"/>
							<p>资信信贷评估信信贷...</p>
						</div>
					</div>
				</div>
			</div><!-- end-listbox1 -->

		</div>
	</section>
	<section class="container home-content">
		<!--第六行：合作伙伴-->
		<div class="clear"></div>
		<div class="partner columns">
			<h1 class="subtitle">合作伙伴 <small>/Our Clents</small></h1>
			<div class="our-clients">
				<img src="${ctxPath}/static/Salaryweb/images/index/hezuohuoban.png" />
			</div>
		</div>
	</section><!-- container -->
		
	<footer id="footer" align="center">
		<div class="container footer-in">
		<!--第一行-->
			<!--分享到-->
			<div class="one-third column" align="left">
				<h4>分享到</h4>
				<br />
				<div style="display: inline-block">
					<img src="/static/Salaryweb/images/index/qq.png" align="left">
				</div>
				<div>
					<img src="/static/Salaryweb/images/index/wechat.png" align="left">
				</div>

				<br />
			</div>
			<!--联系我们-->
			<div class="one-third column" align="left">
				<h4>联系我们</h4>
				<br />

				<p><img src="${ctxPath}/static/Salaryweb/images/social_phone.png" align="left" />&nbsp;
					028-87099345<br />
				</p>
				<p>
					<img src="${ctxPath}/static/Salaryweb/images/social_mail.png" align="left" />&nbsp;
					youxianghao\@huoking.com<br />
				</p>
			</div>
			<!--意见反馈-->
			<div class="one-third column" align="left">
				<h4>意见反馈</h4>
				<br />
				<ul style="margin-left: 20px;">
					<li type="square">意见建议</li>
					<li type="square">在线客服</li>
					<li type="square">关于我们</li>
				</ul>
			</div>
		<!--第二行-->
			<div  style="text-align: center">
				<div><img src="${ctxPath}/static/Salaryweb/images/logo.png"/></div>
				<div><p>Copyright© 2015 华景咨询有限公司</p></div>
			</div>

		</div><!-- end-footer-in -->
	</footer>
	<!-- end-footer -->

</div><!-- end-wrap -->
<!-- End Document
================================================== -->
   
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/latest-twitt.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/vincie-send.js"></script>

</body>
</html>