<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
	<footer>
		<div class="wrap clear">
			<ul class="declare text">
				<li class="title">声明</li>
				<li>© 2017. All Rights Reserved. Terms of Service | Privacy Policy</li>
				<li>© 2017. All Rights Reserved. Terms of Service | Privacy Policy</li>
			</ul>
			<ul class="navigation">
				<li class="title">网站导航</li>
				<li>
					<a href="">
						<img src="images/go_arr.png" alt="">
						<span>服务</span>
					</a>
				</li>
				<li>
					<a href="">
						<img src="images/go_arr.png" alt="">
						<span>服务</span>
					</a>
				</li>
			</ul>
			<ul class="contact">
				<li class="title">联系我们</li>
				<li>
					<img src="images/location.png" alt="">
					<span>价格联系表</span>
				</li>
				<li>
					<img src="images/tel.png" alt="">
					<span>价格联系表</span>
				</li>
				<li>
					<img src="images/email.png" alt="">
					<span>价格联系表</span>
				</li>
			</ul>
		</div>
		
	</footer>
</html>
