<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>行业薪酬</title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="${ctxPath}/static/Salaryweb/css/style.css" type="text/css" />
	<link rel="stylesheet" href="${ctxPath}/static/Salaryweb/fancybox/fancybox.css" type="text/css" />
    
	<!-- JS
  ================================================== -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/jquery.min.js"></script>
   <script src="${ctxPath}/static/Salaryweb/isotope/isotope.js"></script>
   <script src="${ctxPath}/static/Salaryweb/isotope/isotope-custom.js"></script>
	<!-- HTML5 Shiv events -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/modernizr.custom.11889.js"></script>
    <!-- HTML5 Shiv events (end)-->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/nav-resp.js"></script>

	<!-- Favicons
  ================================================== -->
	<link rel="shortcut icon" href="${ctxPath}/static/Salaryweb/images/favicon.ico" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

	<!-- Primary Page Layout
	================================================== -->

<div id="wrap">
<header id="header" class="container">
<div class="top-link"><a href="${ctxPath}/login">登录/注册</a></div>
<div class="four columns"><a href="#"><img src="${ctxPath}/static/Salaryweb/images/logo.png" /></a></div>

<nav id="nav-wrap" class="twelve columns">
					<ul id="nav">

						<li><a href="${ctxPath}/salaryIndex">首页</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexAbout">平台介绍</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexServices">岗位薪酬</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexPortfolio3col">行业薪酬</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexBlog">薪酬查询</a></li>
						<li><a href="${ctxPath}/salaryWeb/salaryIndexBlogSingle">专项报告</a></li>
			</ul>
	</nav>
		<!-- /nav-wrap -->
</header><!-- end-header -->
<section id="full-width">
<img src="${ctxPath}/static/Salaryweb/images/hero-pages2.jpg" class="full-width" />
<div class="page-subtitle"> 
<h3>行业薪酬</h3>
<p>细分行业的薪酬报告</p>
</div>

</section><!-- end-full-width -->
	

<section class="container page-content">
		<nav class="primary clearfix">

				<ul>
				    <li>行业:</li>
					<li><a href="#" class="selected" data-filter="*">全部</a></li>
					<li><a class="" href="#" data-filter=".web">行业1</a></li>
					<li><a class="" href="#" data-filter=".logg">行业2</a></li>
					<li><a class="" href="#" data-filter=".video">行业3</a></li>
					<li><a class="" href="#" data-filter=".print">行业 4</a></li>
					<li><a class="" href="#" data-filter=".print">行业 5</a></li>
				</ul>
				
			</nav>
<br />
<hr />

<div class="portfolio">
<div class="portfolio-item five columns entry video -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic01-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic01.jpg" border="0" /><span class="prt-img-hov-bg"></span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry print video -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic02-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic02.jpg" border="0" /><span class="prt-img-hov-bg"></span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry video  right-item -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic03-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic03.jpg" border="0" /><span class="prt-img-hov-bg"></span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry web print Logo -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic04-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic04.jpg" border="0" /><span class="prt-img-hov-bg"></span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry logg web print -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic05-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic05.jpg" border="0" /><span class="prt-img-hov-bg">&nbsp;</span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry web right-item -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic06-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic06.jpg" border="0" /><span class="prt-img-hov-bg">&nbsp;</span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry web right-item -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic07-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic07.jpg" border="0" /><span class="prt-img-hov-bg">&nbsp;</span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry web logg right-item -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic08-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic08.jpg" border="0" /><span class="prt-img-hov-bg">&nbsp;</span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

<div class="portfolio-item five columns entry logg print right-item -item">
<a id="Single-Item" href="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic09-big.jpg">
<img src="${ctxPath}/static/Salaryweb/images/portfolio-img/portfoliopic09.jpg" border="0" /><span class="prt-img-hov-bg">&nbsp;</span></a>
<a href="portfolio-item.html">
<h5> Nam dui </h5>		
<em>desgn, auctor</em>
</a></div>
<!-- end-portfolio-item-->

</div><!-- end-portfolio -->

<div class="prev-page"><a href="#">Previous</a></div>
<div class="next-page"><a href="#">Next</a></div>

<div class="white-space"></div>

  </section><!-- container -->
		
	<footer id="footer" align="center">
<div class="container footer-in">
<div class="disclaimer four columns" align="left">
<h4>Disclaimer <img src="${ctxPath}/static/Salaryweb/images/footer-p1.png" /></h4>
<br />
<p>
Important: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at felis mi, at auctor mi. Donec vel nibh sem. Etiam ut lacus a dui accumsan accumsan. 
</p>
<br />
<div class="copyright-txt">&nbsp; © 2016. All Rights Reserved.<br />
  <a href="#" class="terms">Terms of Service</a> | <a href="#" class="terms">Privacy Policy</a></div>
  </div><!-- content220 -->
<div class="three columns navi2" align="left">
<h4>Navigation <img src="${ctxPath}/static/Salaryweb/images/footer-p3.png" /></h4>
<br />
<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Services</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Our Portfolio</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Blog</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Prices</a></p>

<p><a href="#"><img src="${ctxPath}/static/Salaryweb/images/rowp6.png" />Contact Form</a></p>
</div><!-- end-navi2 -->

<div class="five columns" align="left">
<h4>Newsletter <img src="${ctxPath}/static/Salaryweb/images/footer-p2.png" /></h4>
<br />
<p>Subscribe to our newsletter to always be up to date! See more, learn more.</p>
<form action="" method="post" id="frmSubscribe" />
<input name="txtSubscribe" class="textbox1" type="text" placeholder="Email" />
<input name="btn-send" id="btnSubscribe" type="button" class="btn1" value="SEND" />
</form>
<div class="clear"></div>
<div class="social-icons">
<a href="#"><img src="${ctxPath}/static/Salaryweb/images/social_twitter.png" align="right" /></a>
<a href="#"><img src="${ctxPath}/static/Salaryweb/images/social_facebook.png" align="right" /></a>
<a href="#"><img src="${ctxPath}/static/Salaryweb/images/social_vimeo.png" align="right" /></a>
</div><!-- end-social-icons -->
</div><!-- end-follow2 -->

<div class="four columns" align="left">
<h4>Contact <img src="${ctxPath}/static/Salaryweb/images/footer-p4.png" /></h4>
<br />
<p><img src="${ctxPath}/static/Salaryweb/images/social_address.png" align="left" />&nbsp;<strong>Address:</strong>
<br />
No.28 - 63739 street lorem ipsum City, Country</p>

<p><img src="${ctxPath}/static/Salaryweb/images/social_phone.png" align="left" />&nbsp;<strong>Phone:</strong>
<br />
+ 1 (234) 567 8901<br />
</p>

<p><img src="${ctxPath}/static/Salaryweb/images/social_mail.png" align="left" />&nbsp;<strong>Email:</strong>
<br />
support yoursite.com<br />
</p>
</div><!-- end-contact2 -->
</div><!-- end-footer-in -->

</footer>
<!-- end-footer -->

</div><!-- end-wrap -->
<!-- End Document
================================================== -->

	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">

		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#Single-Item").fancybox({
				'titlePosition'		: 'outside',
				'overlayColor'		: '#000',
				'overlayOpacity'	: 0.9
			});

			
		});
	</script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/latest-twitt.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/vincie-send.js"></script>


</body>
</html>