<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title> 岗位薪酬  </title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="${ctxPath}/static/Salaryweb/css/style.css" />
	<link rel="stylesheet" href="/static/Salaryweb/css/web-css/services.css" type="text/css" />

	<!-- JS
  ================================================== -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/jquery.min.js"></script>
	<!-- HTML5 Shiv events -->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/modernizr.custom.11889.js"></script>
    <!-- HTML5 Shiv events (end)-->
   <script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/nav-resp.js"></script>

	<!-- Favicons
  ================================================== -->
	<link rel="shortcut icon" href="${ctxPath}/static/Salaryweb/images/favicon.ico" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--highcharts-->
	<link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
	<!--<script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>-->
	<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
	<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
	<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
	<script src="/static/Salaryweb/js/web-js/services.js"></script>
</head>
<body>

	<!-- Primary Page Layout
================================================== -->

<div id="wrap">
	<header id="header" class="container">
		<div class="top-link"><a href="${ctxPath}/login">登录/注册</a></div>
		<div class="four columns"><a href="#"><img src="${ctxPath}/static/Salaryweb/images/logo.png" /></a></div>
		<nav id="nav-wrap" class="twelve columns">
			<ul id="nav">
				<li><a href="${ctxPath}/salaryIndex">首页</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexAbout">平台介绍</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexServices">岗位薪酬</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexPortfolio3col">行业薪酬</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexBlog">薪酬查询</a></li>
				<li><a href="${ctxPath}/salaryWeb/salaryIndexBlogSingle">专项报告</a></li>
			</ul>
		</nav><!-- /nav-wrap -->
	</header><!-- end-header -->

	<section id="full-width">
		<img src="/static/Salaryweb/images/postSalary/gangweixingchou_bgimg.png" class="full-width" />
		<div class="new-page-subtitle">
			<p class="new-page-subtitle01">岗位薪酬</p>
			<p class="new-page-subtitle02">Post pay</p>
			<p class="new-page-subtitle03">岗位、岗位级数、行业、区域薪酬统计分析</p>
		</div>
	</section><!-- end-full-width -->
	

	<section class="container page-content">
		<div class="column">
			<label style="font-size: 36px;color: #464646;">岗位</label>
			<br />
			<div class="post-select-div">
				<label style="font-size: 20px;">岗位选择：</label>
				<select id="enterPost">
					<option>点击选择岗位...</option>
					<option>岗位1</option>
					<option>岗位2</option>
					<option>岗位3</option>
					<option>岗位4</option>
					<option>岗位5</option>
				</select>

				<label style="font-size: 20px;">区域选择：</label>
				<select id="enterArea">
					<option>点击选择区域...</option>
					<option>区域1</option>
					<option>区域2</option>
					<option>区域3</option>
					<option>区域4</option>
					<option>区域5</option>
				</select>
			</div>
		</div>
		<hr />

		<div class="select-result-div">
			<label style="font-size: 36px;color: #464646;">显示查询</label>
			<br />
			<div class="select-result-type">
				<label class="select-result-label label-red">
					<img class="select-result-time select-result-img" src="/static/Salaryweb/images/postSalary/time.png">
					<span class="select-result-font">时间趋势分析</span>
				</label>
				<label  class="select-result-label label-gary">
					<img class="select-result-jiegou select-result-img" src="/static/Salaryweb/images/postSalary/jiegou.png">
					<span class="select-result-font">结构分析</span>
				</label>
				<label  class="select-result-label label-gary">
					<img class="select-result-relate select-result-img" src="/static/Salaryweb/images/postSalary/guanlian.png">
					<span class="select-result-font">相关性分析</span>
				</label>
				<label  class="select-result-label label-gary">
					<img class="select-result-sort select-result-img" src="/static/Salaryweb/images/postSalary/paixu.png">
					<span class="select-result-font">排序分析</span>
				</label>
			</div>
			
		</div>
		<div class="show-result-area">
			<div class="show-result">
				<div id="container" style="min-width:400px;height:400px"></div>
			</div>
			<div class="btn-div">
				<label  class="show-result-label">
					<img class="select-result-img" src="/static/Salaryweb/images/postSalary/xiazaibingbaocun_img.png">
					<span class="select-result-font">下载并保存</span>
				</label>
			</div>
		</div>

		<div class="white-space"></div>

  	</section><!-- container -->

	<footer id="footer" align="center">
		<div class="container footer-in">
			<!--第一行-->
			<!--分享到-->
			<div class="one-third column" align="left">
				<h4>分享到</h4>
				<br />
				<div style="display: inline-block">
					<img src="/static/Salaryweb/images/index/qq.png" align="left">
				</div>
				<div>
					<img src="/static/Salaryweb/images/index/wechat.png" align="left">
				</div>

				<br />
			</div>
			<!--联系我们-->
			<div class="one-third column" align="left">
				<h4>联系我们</h4>
				<br />

				<p><img src="${ctxPath}/static/Salaryweb/images/social_phone.png" align="left" />&nbsp;
					028-87099345<br />
				</p>
				<p>
					<img src="${ctxPath}/static/Salaryweb/images/social_mail.png" align="left" />&nbsp;
					youxianghao\@huoking.com<br />
				</p>
			</div>
			<!--意见反馈-->
			<div class="one-third column" align="left">
				<h4>意见反馈</h4>
				<br />
				<ul style="margin-left: 20px;">
					<li type="square">意见建议</li>
					<li type="square">在线客服</li>
					<li type="square">关于我们</li>
				</ul>
			</div>
			<!--第二行-->
			<div c style="text-align: center">
				<div><img src="${ctxPath}/static/Salaryweb/images/logo.png"/></div>
				<div><p>Copyright© 2015 华景咨询有限公司</p></div>
			</div>

		</div><!-- end-footer-in -->
	</footer><!-- end-footer -->

</div><!-- end- -->
<!-- End Document
================================================== -->
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/latest-twitt.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/Salaryweb/js/vincie-send.js"></script>

</body>
</html>